/* Register page styling */
.password-rules-card {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-text);
  border-radius: var(--radius-sm);
  background-color: #7f726548;
}

.password-rules-card p {
  margin-top: 0;
  color: var(--color-text);
}

.password-rules {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--color-text);
}

.password-rules li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.4;
}

.circle-check {
  display: flex;
  flex-shrink: 0;
}

.input-wrapper {
  width: 100%;
  position: relative;
}

.toggle-eye {
  position: absolute;
  display: flex;
  background: none;
  border: none;
  padding: 0;
  right: 0.5rem;
  top: 0.6rem;
  cursor: pointer;
  color: inherit;
  opacity: 0.7;
}

.toggle-eye:hover {
  opacity: 1;
}

.toggle-eye ::ng-deep svg {
  width: 20px;
  height: 20px;
}

.password-rules li.met .circle-check {
  color: var(--color-success);
}

.password-rules-card.complete {
  border-color: var(--color-success);
  background-color: rgba(0, 128, 0, 0.199);
}

.password-rules-card.complete p {
  color: var(--color-success);
}

.circle-check ::ng-deep svg {
  display: block;
  width: 16px;
  height: 16px;
}

.sign-in {
  margin-top: 2rem;
  margin-bottom: -1rem;
}

@media (pointer: coarse) {
  .toggle-eye {
    top: 0.5rem;
  }
  .toggle-eye ::ng-deep svg {
    width: 24px;
    height: 24px;
  }
}