.form-group {
  display: flex;
  flex-direction: column;
}

.forgot-password {
  align-self: flex-end;
  margin-top: 2px;
  font-size: 12px;
  text-decoration: none;
}

.btn-primary {
  margin-top: 2rem;
}

.sign-up {
  font-size: 14px;
}
