<div class="component-container">
    <div class="vehicle-header">
        <h2>My Vehicles</h2>
        <a [routerLink]="['/vehicles']">View All</a>
    </div>

    <div class="car-container">
        @if (loading()) {
            <p>Loading...</p>
        } @else if (errorMessage()) {
            <p>{{ errorMessage() }}</p>
        } @else if (vehicle(); as v) {
            <div class="car-avatar">
                <iconify-icon icon="mdi:car" width="40"></iconify-icon>
            </div>

            <div class="car-body">
                <h3>{{ v.make | titlecase }} {{ v.model }} {{ v.modelYear }}</h3>

                <div class="car-details">
                    <div>
                        <iconify-icon icon="mdi:car" width="18"></iconify-icon>
                        <span>Body Class:</span>
                        <p>{{ v.bodyClass }}</p>
                    </div>
                    <div>
                        <iconify-icon icon="mdi:tag" width="18"></iconify-icon>
                        <span>Trim:</span>
                        <p>{{ v.trim }}</p>
                    </div>
                    <div>
                        <iconify-icon icon="mdi:car-shift-pattern" width="18"></iconify-icon>
                        <span>Transmission:</span>
                        <p>{{ v.transmissionStyle }}</p>
                    </div>
                    <div>
                        <iconify-icon icon="mdi:piston" width="18"></iconify-icon>
                        <span>Engine Cylinders:</span>
                        <p>{{ v.engineCylinders }}</p>
                    </div>
                    <div>
                        <iconify-icon icon="mdi:engine" width="18"></iconify-icon>
                        <span>Engine Horse Power:</span>
                        <p>{{ v.engineHP }}</p>
                    </div>
                </div>
            </div>
        } @else {
            <p>You don't own a vehicle, please add one.</p>
        }
    </div>
</div>
