/* Global styles */
:root {
  --color-bg: #322D27;
  --color-bg-secondary: #3F3931;
  --color-surface: #7F7265;
  --color-text: #E2E1EB;
  --color-accent: #BF8440;
  --color-accent-hover: #D9A063;
  --color-danger: #D96666;
  --color-success: #6BA368;

  --radius-sm: 4px;
  --radius-md: 8px;
  --field-width: 20rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  background-color: var(--color-bg);
  color: var(--color-text);
}

input, button, textarea, select {
  font: inherit;
}

.header-title {
  margin: 0;
  font-size: 28px;
}

.sub-header {
  margin-bottom: 2rem;
}

.auth-container {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80dvh;
}

.auth-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: var(--radius-md);
  max-width: var(--field-width);
  border: 1px solid var(--color-accent);
  background-color: var(--color-bg-secondary);
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--field-width);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  color: var(--color-text);
  border: 1px solid var(--color-accent);
  border-radius: var(--radius-sm);
  background-color: var(--color-surface);
  outline: none;
}

.form-group input:focus {
  border: 1px solid var(--color-accent-hover);
  box-shadow: 0 0 4px 1px #d9a06381;
}

.form-group input::placeholder {
  color: var(--color-text);
  opacity: 65%;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  color: var(--color-text);
  border: none;
  border-radius: var(--radius-sm);
  background-color: var(--color-accent);
  cursor: pointer;
  transition: transform 200ms ease;
}

.btn-primary:hover {
  background-color: var(--color-accent-hover);
}
.btn-primary:active {
  background-color: var(--color-accent-hover);
  transform: scale(0.98);
}

.btn-secondary {
  padding: 0;
  color: var(--color-accent);
  text-decoration: none;
  border: none;
  background: none;
}

.btn-secondary:hover {
  color: var(--color-accent-hover);
}

.error {
  color: var(--color-danger);
}

.form-group input.ng-invalid.ng-touched {
  border-color: var(--color-danger);
}

.form-group input.ng-invalid.ng-touched:focus {
  border-color: var(--color-danger);
  box-shadow: 0 0 4px 1px #eb36367e;
}

.shake {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-6px);
  }
  40%,
  80% {
    transform: translateX(6px);
  }
}

@media (pointer: coarse) {
  body {
    font-size: 16px;
  }
}
